//第一塊 banner
.banner {
  height: 960px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  color: #fff;
  .banner_here {
    text-align: left;
  }
  .banner_joanne {
    font-size: 80px;
  }
}

.banner_icon {
  display: flex;
  li {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

//動畫
.banner_icon a {
  display: block;
  img {
    transition: 0.5s;
  }
  img:hover {
    border-radius: 50%;
  }
}

//第二塊 about
.about {
  width: 412px;
  padding: 56px 0;
  text-align: center;
  margin: 0 auto;
  img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .about_list {
    margin-bottom: 24px;
    .item {
      margin-bottom: 4px;
    }
  }
  // .about_hr{
  //   max-width: 384px;
  //   margin: 24px auto 28px;
  //   border-top: 1px solid #000;
  //   border-bottom-width: 0;
  // }
}

// 助教建議設計線的方式，讓它(.about_dot)自己產出
//dot
.about_dot{
  margin: 0 auto;
  width: 384px;
  border-top: 1px solid #000;
  border-bottom-width: 0;
  padding-top: 28px;
}
.about .about_dot>.dot::before {
  content: '';
  background-color: #891818;
  width: 22px;
  height: 22px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 16px;
  vertical-align: middle;
}

//第三塊 brand
.brand {
  margin: 0 auto;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 56px 0 160px 0;
  .item {
    margin-bottom: 12px;
  }
  .item2 {
    margin-bottom: 68px;
  }
}

.brand_pic_itemTop img{
  margin: 0 auto;
}

.brand_pic_items {
  display: flex;
  justify-content: space-between;
}



//第四塊 works
.works {
  padding: 56px 0 96px 0;
  text-align: center;
  .works_pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

//第五塊 footer
footer {
  padding: 64px 0 64px 0;
  background: #000;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  a {
    text-decoration: none;
    color: #fff;
    flex: block;
    &:hover {
      color: gray;
    }
  }
}